* {
    font-family: 'Courier New', Courier, monospace;
}

.fonte-estilizada-titulo-h1 {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
  } 

/* seletor por tag */
p {
    color: #6A5ACD;
    font-size: 14px;
    background-color: #FFD700;
}

/* seletor por id */
#fomulario {
    color: #8B0000;
    font-size: 16px;
    background-color: #E6E6FA;
}

/* seletor por classe */
.fundo_rosa {
    color: #fff;
    font-size: 16px;
    background-color: #DB7093;
}

.link_branco {
    color: #fff;
    text-decoration: none;
}

.link_branco:hover{
    color: #6A5ACD;
    font-size: 20px;
}

.container { 
    border: 1px solid red ;
    padding: 20px;
    margin: 20px;
}

.img-container{ 
     border: 1px solid blue ;
         padding: 20px;
         display: inline-flex;
         width: 97%;
      
}

.imagens{
    width:50vh;
    height: auto;
}

.borda-amarela{
    border: 2px;
    border-style: solid;
    border-top-color: yellow;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: yellow;
    border-radius: 10px;
       gap: 10px;

}
  

.borda-lancer{
    border: 2px ;
    border-style: solid;
    border-top-color: red;
    border-left-color:black;
    border-right-color: black;
    border-bottom-color: red;
    border-radius: 10px;
       gap: 10px;


}

.alinhamento-central{
    margin: 0 auto;
    display: table;  
}